.Pokecard {
  border: hsl(195, 53%, 79%) 1px solid;
  border-radius: 10px;
  margin: .4em;
  padding: .4em;
  width: 200px;
  background: hsl(0, 22%, 95%);
  box-shadow: 0 8px 8px -4px hsl(195, 53%, 79%);
}

.Pokecard-title {
  
  margin: .2em 0 .2em 0;
  color: rgb(7, 95, 114);
}

.Pokecard img {
  transition: all ease 500ms;
}

.Pokecard img:hover {
  transform: scale(1.25);
}

.Pokecard-circle-img {
  background-color: rgba(1, 255, 255, 0.136);
  border-radius: 50%;
}

.Pokecard-img {
  height: 190px;
}

.flying {
  background-color: hsla(240, 73%, 81%, 0.27);
}

.poison {
  background-color: hsla(300, 96%, 22%, 0.27);
}

.bug {
  background-color: hsla(120, 70%, 43%, 0.27);
}

.electric {
  background-color: hsla(60, 100%, 50%, 0.27);
}

.normal {
  background-color: hsla(0, 0%, 50%, 0.27);
}

.fire {
  background-color: hsla(0, 100%, 50%, 0.27);
}

.water {
  background-color: hsla(213, 93%, 48%, 0.27);
}

